// GENERAL //

body {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

$green1: #16A085;
$green2: #1ABC9C;
$grey: #F5F6F7;


.button {
    background-color: $green1;
    border: none;
    border-radius: 4px;
    color: white;
    height: 50px;
    text-transform: uppercase;
    width: 180px;
}

.containter {
  margin: 0 auto;
  max-width: 900px;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

// HEADER //

.header {
  background-image: url("../Project/pic1.gif");
  background-position: center;
  background-size: cover;
  color: white;
  .container {
      display: flex;
      flex-wrap: wrap;
      height: 900px;
      width: auto;
  }
  .row {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    [class*="col"] {
      @extend h3;
      display: block;
      padding: 10px;
      &:hover {
        color: $green1;
      }
    }
  }
  .middle-bar {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    p {
      font-size: 15px;
    }
  }
  .social-icons {
    display: block;
    font-size: 20px;
    height: 40px;
    padding: 10px 0;
    position: relative;
    top: 170px;
    text-align: center;
    width: 100%;
    svg {
      line-height: 30px;
      &:hover {
        color: $green1;
      }
    }
  }
}


//HAND //

.hand {
  background-image: url("../Project/pic3_hand.gif");
  background-position: center;
  background-size: cover;
  height: 650px;
  vertical-align: middle;
  .row {
    padding: 80px 20px;
  }
  h3 {
    color: $green1;
    padding: 20px 0;
  }
  p {
    color: gray;
    line-height: 200%;
    padding: 20px 0;
  }
}


// PHONE //

.phone {
  background-color: white;
  height: 500px;
  .row {
    margin: 40px 0;
  }
  h3 {
    color: $green1;
    padding: 20px 0;
  }
  p {
    color: gray;
    line-height: 200%;
    padding: 20px 0;
  }
  overflow-y: hidden;
  h4 {
    font-size: 12px;
    font-weight: bolder;
    padding-top: 30px;
  }
  img {
    position: relative;
    left: 50px;
    top: 70px;
  }
  svg {
      &:hover {
      color: $green1;
    }
  }
}



// PICTURES //

.pictures {
  background-color: $grey;
  height: 400px;
  .arrows {
    position: relative;
    top: 40px;
    right: -1080px;
    svg {
        &:hover {
        color: $green1;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  [class*="col"] {
    display: inline-block;
    padding: 20px;
    text-align: center;
  }
  .photo {
    height: auto;
    margin: 5px;
    width: 100%;
  }
}


// INPUT //

.input {
  background-image: url("../Project/pic8.gif");
  background-position: center;
  background-size: cover;
  height: 900px;
  .container {
    position: relative;
    top: 50%;
    text-align: center;
   }
  .form-control {
    border-radius: 4px 0 0 4px;
    display: inline-block;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
  }
  .check {
    border-radius: 0 4px 4px 0;
    background-color: $green1;
    color: white;
    display: inline-block;
    height: 60px;
    position: relative;
    right:  6px;
    width: 60px;
    .fa-check {
      position: relative;
      top: 8px;
    }
  }
}


// DOWNLOAD //

.download {
  background-color: $grey;
  height: 400px;
  .container {
    position: relative;
    text-align: center;
    top: 20%;
  }
  h4 {
    color: white;
    font-weight: bolder;
    padding-top: 10px;
  }
  p {
    margin: 0 auto;
    max-width: 850px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .apple, .play {
    color: white;
    display: inline-block;
    .app-andr {
      background-color: $green2;
      border-radius: 4px 0 0 4px;
      display: inline-block;
      height: 60px;
      position: relative;
      text-transform: uppercase;
      width: 300px;
    }
    .app-icon, .play-icon {
      border-radius: 0 4px 4px 0;
      background-color: $green1;
      display: inline-block;
      height: 60px;
      position: relative;
      right: 6px;
      top: 1.5px;
      width: 60px;
      .fa-android, .fa-apple {
        position: relative;
        top: 7px;
      }
    }
  }

}

// FOOTER //

.footer {
  .row {
    padding: 20px 0;
  }
  h4 {
    display: inline;
    font-weight: bolder;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
      color: $green1;
    }
  }
  .with-border {
    border-left: solid 2px $green1;
    border-right: solid 2px $green1;
    padding: 0 20px;
  }
  p {
    font-weight: bolder;
    padding: 10px;
  }
}
